body {
    font-size: 20px;
    font-family: arial, sans-serif
}

ul {
    list-style-type: none;
}

li {
    float: right;
}

button:hover,
button:focus {
    outline: none;
}

li a {
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
}

li a:hover {
    text-decoration: underline;
}

.img {
    width: auto;
    height: 74px;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: 550px;
}

.search-bar-img {
    top: 5px;
    left: 15px;
    color: #9aa0a6;
    height: 17px;
    width: 17px;
    position: relative;
}

.search-bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.search-btn {
    margin-left: 600px;
}

.search-btn>input {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    padding: 0 16px;
    line-height: 29px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;
    margin-top: 60px;
    margin-right: 400px;
}

.search-space {
    border: 0px solid #e2dfdf;
    margin: 11px 4px;
    padding: 0 16px;
    height: px;
    cursor: text;
    width: 500px;
    font-size: 16px;
}

.search-bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

input:hover[type="submit"] {
    cursor: pointer;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

input:focus-within {
    outline: none;
}

.logosubtext {
    color: #4285f4;
    font-size: 16px;
    font-family: roboto-regular, arial, sans-serif;
    margin-left: 725px;
    margin-top: -42px;
    white-space: nowrap;
    margin-bottom: 30px;
}

.search-space2 {
    border: 0px solid #e2dfdf;
    padding: 0 5px;
    height: -10px;
    cursor: text;
    font-size: 16px;
    position: relative;
    width: 400px;
    font-size: 16px;
    margin: 11px 4px;
    left: 34px;
}

.search-bar-image {
    left: 15px;
    color: #9aa0a6;
    height: 0px;
    width: 17px;
    position: relative;
}

.search-bar2 {
    width: 575px;
    border-radius: 30px;
    border: 0px solid #e2dfdf;
    margin: 30px 4px;
    padding: 0 16px;
    cursor: text;
    font-size: 16px;
}

.iconsearch {
    background-color: transparent;
    border: 0px solid #8f7e7e;
    position: relative;
    cursor: pointer;
    border: none;
}

.iconsearch>a:hover,
a:visited,
a::selection {
    background-color: transparent;
    border: 0px solid #e2dfdf;
    cursor: pointer;
    border: none;
}

.imgimg {
    padding-left: 10px;
    height: 25px;
    position: relative;
    top: 7px;
}

.all-img {
    position: relative;
    padding: 2px 10px;
    margin-left: 810px;
    margin-top: -42px;
}

.add-img {
    float: left;
}

.img-na {
    padding: 1px;
    height: 20px;
    position: relative;
    top: 8px;
}